body {
	outline:none;
}

p, li{
	color: darksalmon;
	/*text-shadow:2px 2px orange;*/
	font-size: 36pt;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

#grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(10,10,10,1),rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(10,10,10,1),rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(10,10,10,240,1),rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(rgba(10,10,10,1), rgba(0,0,0,0)); /*Standard*/
}
